body {
    font-family: Arial, Helvetica, sans-serif;

    background-image: url(//assets/images/MyjzeDr.jpg);
    background-size: cover;
}



hide {
    display: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
#reset-container, h1 {
    text-align: center;
}