body {
    background-image: url(./assets/images/BLOGS04-150929942-AR.jpeg);
    background-size: cover;
}

.hide {
    display: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
#reset-container, h1 {
    text-align: center;
}